.Rproj.user
.Rhistory
.RData
.Ruserdata

*-Ex.*
*.tar.gz
*Rcheck

 #objects, shared objects, DLLs
*.o
*.so
*.dll

# .Rmd cache
*_cache

# benchmark result artifacts
benchmarks/*.rds

# silly Apple
.DS_Store
inst/doc
